name: SAM Build Workflow

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - staging
  # pull_request:
  #   branches:
  #     - staging

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: リポジトリのチェックアウト
        uses: actions/checkout@v4

      - uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
          version: 1.64.0

      - name: SAMアプリケーションのビルド
        run: |
          sam build